.customPopup {
  position: absolute;
  top: 50px;
  right: 50pt;
  border-radius: 10px;
  width: 25rem;
  height: 10rem;
  background-color: rgb(238, 239, 234);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 10rem;
  overflow-y: auto;
  cursor: pointer;
}

.notification-list li {
  padding: 0.2rem;
  border-left: 0.2rem solid #005993;
  margin: 0.5rem;
}

.notification-list li:hover {
  border-left: 0.2rem solid #67a25e;
}

.notification-badge {
  position: relative;
  height: 30px;
  width: 30px;
  display: inline-grid;
  border-radius: 50%;
  font-size: small;
  background-color: #000000 !important;
  color: #ffffff;
  padding-top: 6px;
  top: -13px;
  right: 10px;
  border: 2px solid #ffffff;
  text-align: center;
  justify-content: center;
}

.container {
  /* background-color: #000000; */
  padding-top: 1rem;
  display: flex;
  min-height: 90vh;
  font-family: Verdana, Geneva, sans-serif;
}

.sidebar-menu {
  background-color: #ffffff;
  width: 15rem;
  transition: width 0.3s;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.sidebar-menu li {
  list-style: none;
  padding-top: 0.5rem;
  /* background-color: #000000; */
  justify-content: center;
  padding-left: 15px;
  width: auto !important;
}

.sidebar-menu li:hover {
  background-color: #6ca865;
  width: 100%;
  border-radius: 4px;
}

.sidebar-menu.collapsed {
  width: 60px;
}

.nav ul {
  padding-left: 1px !important;
}

.toggle-btn {
  cursor: pointer;
  background-color: #0b64ae;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.content {
  flex-grow: 1;
  /* background-color: #ecf0f1; */
  padding: 20px;
  transition: margin-left 0.3s;
  overflow: auto;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle.btn.btn-success {
  background: none !important;
  border: none;
  color: #000000;
}

::-webkit-file-upload-button {
  display: none;
}

::file-selector-button {
  display: none;
}

.custom-file-upload {
  border: none;
  display: inline-block;
  padding: 6px 0px 6px 12px;
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}
